/* Header.css */

/* Styling for the header section */
.home {
  padding: 2rem 0;
  background: linear-gradient(to bottom, #ffffff, #ffffff); /* Add a gradient background */
  text-align: center;
}

/* Styling for the header container */
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the girl image */
.home__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Styling for the home text */
.home__text {
  margin-bottom: 1rem;
}

.home__subtitle {
  font-size: 1.8rem; 
  color: #333; 
}

.home__title {
  font-size: 3.2rem; 
  color: #1c1c1c; 
  margin-bottom: 0.5rem;
}

.home__job {
  font-size: 1.5rem; 
  color: #1c1c1c;
}

/* Styling for the social icons */
.home__socials {
  display: flex;
  gap: 1.5rem; 
  margin-bottom: 2rem; }

.home__social-link {
  font-size: 2.4rem; 
  color: #242323;
  transition: color 0.3s ease;
}

.home__social-link:hover {
  color: #0077b5; 
}

/* Styling for the buttons */
.home__btns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; 
  justify-content: center; /* Center buttons horizontally */
  
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  font-size: 1.6rem; 
  font-weight: bold;
  color: #fff;
  background-color: #007BFF; 
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0066d4; 
}

.btn-resume {
  margin-bottom: 1rem; 
}

.btn-contact {
  border: 2px solid #007BFF; 
  background-color: transparent; 
  color: #007BFF; 
  cursor: pointer;
}

.btn-contact:hover {
  background-color: #0066d4; 
  color: #fff; 
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .home__title {
    font-size: 2.8rem; 
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 600px) {
  .home__image {
    width: 120px;
    height: 120px;
  }

  .home__title {
    font-size: 2.2rem; 
  }

  .home__job {
    font-size: 1.4rem; 
  }

  .home__btns {
    flex-direction: column;
  }

  .btn {
    width: 60%;
  }
}


